/* CUSTOM PROPS */
:root {
    --midnight-green:#014e56;
    --light-coral:#f67e7e;
    --white:#ffffff;
    --rapture-blue:#79c8c7;
    --police-blue:#2c6269;
    --deep-jungle-green:#004047;
    --sacramento-state-green: #012f34;
    --dark-green: #002529;
}

/* FONT FAMILY */
@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-MediumItalic.woff2') format('woff2'),
        url('../fonts/Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-BoldItalic.woff2') format('woff2'),
        url('../fonts/Livvic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
        url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
        url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    font-family: "Livvic","Arial",sans-serif;
    font-weight: 600;
    flex-direction: column;
    background-color: var(--midnight-green);
    color: var(--white);
    position: relative;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

/* PLACECHOLDER STYLE */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.6);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.6);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.6);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.6);
  }

/* CONTAINER */
.container {
    max-width: 1150px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTONS */
.button {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    padding: 9px 32px 11px;
    border: 2px solid var(--white);
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
    display: inline-block;
}
.button-transparent {
    background-color: transparent;
    color: var(--white);
}
.button-white {
    background-color: var(--white);
    color: var(--deep-jungle-green)
}
.button-dark {
    background-color: transparent;
    border-color: var(--sacramento-state-green);
    color: var(--sacramento-state-green);
}

.button-transparent:hover {
    background-color: var(--white);
    color: var(--dark-green);
}
.button-white:hover {
    opacity: 0.8;
}
.button-dark:hover {
    background-color: var(--sacramento-state-green);
    color: var(--white);
}
/* SITE HEADER */
.site-header {
    padding-top: 73px;
    padding-bottom: 73px;
}
.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header__logo {
    cursor: pointer;
    margin-right: 80px;
}
.logo__img {
    width: 160px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
    display: block;
}
.site-header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__item:not(:last-child) {
    margin-right: 40px;
}
.nav__link {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav__link:hover {
    color:var(--light-coral);
}
.site-header__burger-menu {
    list-style: none;
    cursor: pointer;
    display: none;
}
.burger-menu__line {
    width: 20px;
    height: 3px;
    background-color: var(--white);
}
.burger-menu__line:not(:last-child) {
    margin-bottom: 4px;
}
.burger-menu__line:not(:last-child) {
    margin-bottom: 4px;
}
.burger-menu-cross .burger-menu__line:nth-child(1) {
    transform: rotate(45deg);
    margin-bottom: -4px;
}
.burger-menu-cross .burger-menu__line:nth-child(2) {
    display: none;
}
.burger-menu-cross .burger-menu__line:nth-child(3) {
    transform: rotate(-45deg);
}

/* SITE HERO */
.site-hero {
    width: 100%;
    background-image: url("../img/hero-bottom-pattern.svg");
    background-repeat: no-repeat;
    background-position: top calc(100% + 100px) right 165px;
    padding-bottom: 250px;
}
.about-site-hero {
    background-image: url("../img/nav-menu-pattern.svg");
    background-position: top 100% left calc(100% + 100px);
}
.site-hero__pattern {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: -100px;
    z-index: -1;
}
.site-hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-hero__heading {
    max-width: 635px;
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
    margin-right: 30px;
}
.about-site-hero__heading {
    max-width: 350px;
    font-size: 64px;
}
.orange-text {
    color: var(--light-coral);
}
.section-text {
    font-size: 18px;
    line-height: 28px;
    max-width: 445px;
    width: 100%;
}
.about-section-text {
    max-width: 730px;
}
.section-text::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--rapture-blue);
    display: block;
    margin-bottom: 80px;
}
.about-section-text::before {
    margin-bottom: 40px;
    background-color: var(--light-coral);
}

/* SITE FEATURES */

.site-features {
    background-color: var(--sacramento-state-green);
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url("../img/features-pattern.svg");
    background-repeat: no-repeat;
    background-position: calc(100% + 100px) 100%
}
.site-features__container {
    display: flex;
    align-items: self-start;
    justify-content: center;
}
.site-features__heading {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    max-width: 445px;
    width: 100%;
    margin-right: 125px;
}
.site-features__heading::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--light-coral);
    display: block;
    margin-bottom: 54px;
}
.section__list {
    list-style: none;
    width: 100%;
}
.item {
    display: flex;
}
.item:not(:last-child) {
    margin-bottom: 32px;
}
.item__icon {
    width: 72px;
    height: 72px;
    margin-right: 23px;
}
.item__info {
    width: 445px;
}
.item__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    color: var(--light-coral);
    margin-bottom: 16px;
}
.item__text {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

/* ABOUT SITE CARTS */
.site-carts {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--deep-jungle-green);
    background-image: url("../img/about-cart-pattern.svg");
    background-repeat: no-repeat;
    background-position: top 0% left -100px;
    position: relative;
}
.site-carts__heading {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 64px;
}
.site-carts__carts {
    width: 100%;
    display: flex;
    align-items: self-start;
    flex-wrap: wrap;
}
.carts__cart {
    width: 31%;
    background-color: var(--sacramento-state-green);
    position: relative;
    margin-bottom: 76px;
}
.carts__cart-front {
    padding: 32px 24px 56px;
    text-align: center;
}
.carts__cart-open .carts__cart-front {
    display: none;
}
.carts__cart:not(:nth-child(3n)) {
    margin-right: 3.5%;
}
.carts__img {
    border: 2px solid #C4FFFE;
    border-radius: 50%;
    margin-bottom: 16px;
}
.carts__name {
    font-size: 18px;
    font-weight: bold;
    color: var(--rapture-blue);
    white-space: nowrap;
}
.carts__work {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}
.carts__button {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--light-coral);
    background-image: url("../img/plus-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    left: 50%;
    top: calc(100% - 28px);
    transform: translateX(-50%);
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 1;
}
.carts__cart-open .carts__button {
    background-image: url("../img/close-icon.svg");
    background-color: var(--rapture-blue);
}

.carts__button:active {
    background-color: var(--rapture-blue);
}
.carts__cart-open .carts__button:active {
    background-color: var(--light-coral);
}

.carts__cart-back {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--dark-green);
    padding: 35px 24px 63px;
    text-align: center;
    display: none;
    position: relative;
}

.carts__cart-open .carts__cart-back {
    display: block;
}
.carts__cart-back .carts__name {
    margin-bottom: 8px;
}
.carts__cart-back .carts__work {
    margin-bottom: 24px;
    max-width: 254px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.carts__cart-icon:not(:last-child) {
    margin-right: 16px;
}
.carts__cart-icon:hover {
    color: var(--light-coral);
}
.about-cart-pattern {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* SITE REVIEW */

.site-review {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url("../img/reviews-bg-right.svg");
    background-repeat:no-repeat;
    background-position: top calc(100% + 100px) right 0%;
    position: relative;
 }
 .site-review-pattern {
    position: absolute;
    top: 0;
    left: 0;
 }
.site-review__heading {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    max-width: 932px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
}
.green-text {
    color: var(--rapture-blue);
}
.site-review__list {
    list-style: none;
    display: flex;
    align-items:self-start
}
.site-review__item {
    width: 31%;
    text-align: center;
}
.site-review__item:not(:last-child) {
    margin-right: 3.5%;
}
.site-review__item-descr {
    position: relative;
    margin-bottom: 24px;
}
.site-review__item-descr::before {
    content: "";
    width: 67px;
    height: 56px;
    display: block;
    background-image: url("../img/icon-quotes.svg");
    position: absolute;
    left: 50%;
    top: -38px;
    transform: translateX(-50%);
    z-index: -1;
}
.site-review__user-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    color: var(--rapture-blue);
}
.site-review__user-work {
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 32px;
}
.site-review__user0-img {
    width: 62px;
    height: 62px;
    border: 2px solid #C4FFFE;
    border-radius: 50%;
}

/* ABOUT SITE SCLIENTS */
.site-clients {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--sacramento-state-green);
    background-image: url("../img/clients-circle.svg");
    background-repeat: no-repeat;
    background-position: top 0% left 0%;
}
.site-clients__heading {
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 64px;
}
.site-clients__list {
    list-style: none;
    display: flex;
    align-items: self-start;
}
.site-clients__item:not(:last-child) {
    margin-right: 7.2%;
}
.site-clients__img {
    width: 100%;
    height: auto;
}

/* SITE CTA */

.site-cta {
    padding-top: 76px;
    padding-bottom: 76px;
    background-color: var(--light-coral);
    color: var(--sacramento-state-green);
    background-image: url("../img/cta-pattern.svg");
    background-repeat: no-repeat;
    background-position: top calc(100% + 100px) left 0px;
}

.site-cta__inner {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-cta__button {
    margin-left: 20px;
}

/* CONTACT FORM */

.site-contact {
    padding-top: 47px;
    padding-bottom: 120px;
    background-image: url("../img/contact-pattern.svg");
    background-repeat: no-repeat;
    background-position: top 100% left calc(100% + 100px);
}
.site-contact__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-contact__info {
    max-width: 540px;
    width: 100%;
    margin-right: 2.7%;
}
.site-contact__heading {
    font-size: 64px;
    line-height: 100px;
    font-weight: bold;
    margin-bottom: 16px;
}
.site-contact__text {
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    color: var(--light-coral);
    margin-bottom: 32px;
}
.contact-item {
    align-items: center;
}
.contact-item .item__text {
    font-size: 18px;
}

.contact-item:not(:last-child) {
    margin-bottom: 8px;
}

/* CONTACT FORM */

.site-contact__form {
    max-width: 542px;
    width: 100%;
}
.form {
    display: flex;
    flex-direction: column;
}
.form__input,.form__textarea {
    border: 0;
    outline: none;
    padding: 0px 14px 17px;
    background-color: transparent;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    font-size: 15px;
    letter-spacing: -0.12px;
    font-weight: 600;
}
.form__textarea {
    resize: none;
    padding-bottom: 58px;
    margin-bottom: 24px;
}

.form__input:not(:last-child) {
    margin-bottom: 24px;
}


/* SITE FOOTER */
.site-footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--dark-green);
    color: var(--white);
}
.footer__container {
    position: relative;
}
.site-footer__left-side {
    width: 100%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}
.site-footer__logo {
    margin-bottom: 25px;
}
.social-link-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.social-link-item:not(:last-child) {
    margin-right: 16px;
}
.social-link {
    text-decoration: none;
    color: var(--white);
}
.adress-list {
    position: absolute;
    top: 0;
    left: 285px;
    list-style: none;
}
.adress-list__item {
    color: rgba(255, 255, 255, 0.6);
}
.site-footer__right-side {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: rgba(255, 255, 255, 0.6);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
    .site-hero__heading {
        font-size: 64px;
    }
    .section-text {
        font-size: 15px;
    }
    .section-text::before {
        margin-bottom: 54px;
    }

    .site-features__heading {
        font-size: 36px;
        line-height: 40px;
    }
    .item__icon {
        margin-right: 16px;
    }

    .site-cta {
        padding-top: 84px;
        padding-bottom: 84px;
        background-position: top calc(100% + 122px) left 0px;
    }
    .site-cta__container {
        padding-left: 77px;
        padding-right: 77px;
    }

    .site-contact {
        padding-bottom: 200px;
    }

}

@media only screen and (max-width: 950px) {
    .site-features__container {
        flex-direction: column;
        padding-left: 97px;
        padding-right: 97px;
    }
    .site-features__heading {
        margin-right: 0;
        margin-bottom: 64px;
    }

    .site-contact__info {
        max-width: 400px;
    }

}

@media only screen and (max-width: 768px) {
    .site-header {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .site-header__logo {
        margin-right: 48px;
    }
    .logo__img {
        width: 128px;
        height: 32px;
    }

    .site-hero {
        background-position: top calc(100% + 100px) right 50%;
    }
    .about-site-hero {
        background-position: top 100% left calc(100% + 100px);
    }
    .site-hero__container {
        flex-direction: column;
        text-align: center;
    }
    .site-hero__heading {
        width: 100%;
        font-size: 64px;
        line-height: 56px;
        margin-right: 0;
        margin-bottom: 24px;
    }
    .section-text {
        width: 100%;
        font-size: 15px;
    }
    .about-section-text {
        max-width: 457px;
    }
    .section-text::before {
        display: none;
    }
    .site-hero__pattern {
        display: none;
    }
    .site-carts {
        padding-top: 100px;
        padding-bottom: 128px;
    }
    .site-carts__container {
        padding-left: 97px;
        padding-right: 97px;
    }
    .site-carts__heading {
        font-size: 32px;
    }
    .carts__cart {
        width: 49%;
    }
    .carts__cart:not(:nth-child(3n)) {
        margin-right: 0%;
    }
    .carts__cart:not(:nth-child(2n)) {
        margin-right: 2%;
    }

    .site-features {
        padding-top: 100px;
        padding-bottom: 100px;
        background-position: calc(100% + 100px) 0%
    }
    .site-features__heading {
        font-size: 32px;
        line-height: 32px;
    }
    .item__info {
        max-width: 445px;
        width: 100%;
    }

    .site-review {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .site-review__container {
        padding-left: 97px;
        padding-right: 97px;
    }
    .site-review__heading {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 84px;
        max-width: 573px;
    }
    .site-review__list {
        flex-direction: column;
    }
    .site-review__item {
        width: 100%;
    }
    .site-review__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 84px;
    }
    .site-review__item-descr {
        margin-bottom: 16px;
    }
    .site-review__user-work {
        margin-bottom: 16px;
    }

    .site-clients {
        padding-top: 100px;
        padding-bottom: 100px;
        background-position: top -100px left 0px;
    }

    .site-contact {
        padding-bottom: 112px;
    }
    .site-contact__container {
        flex-direction: column;
        padding-left: 113px;
        padding-right: 113px;
    }
    .site-contact__info {
        max-width: 515px;
        text-align: center;
        margin-right: 0;
        margin-bottom: 64px;
    }
    .site-contact__heading {
        line-height: 56px;
        margin-bottom: 24px;
    }
    .site-contact__text {
        margin-bottom: 24px;
    }
    .contact-item {
        text-align: left;
    }

    .site-footer__left-side {
        flex-direction: column;
    }
    .adress-list {
        left: inherit;
        right: 20px;
        text-align: right;
    }
    .site-footer__logo {
        margin-bottom: 53px;
    }
    .site-footer__logo-links {
        margin-bottom: 32px;
    }

}

@media only screen and (max-width: 550px) {
    .site-header {
        padding-top: 48px;
        padding-bottom: 48px;
        overflow-x: hidden;
    }
    .site-header__nav {
        position: fixed;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 99;
        transform: translateX(100%);
    }
    .site-header__nav-open {
        transform: translateX(0%);
    }
    .nav__navbar {
        width: 255px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: start;
        background-color: var(--police-blue);
        background-image: url("../img/nav-menu-pattern.svg");
        background-repeat: no-repeat;
        background-position: left calc(100% + 100px)  top 100%;
        padding: 112px 48px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
    .nav__navbar-open {
        transform: translateX(0%);
    }
    .nav__list {
        flex-direction: column;
        width: 100%;
        margin-bottom: 36px;
    }
    .nav__item {
        width: 100%;
        text-align: left;
    }
    .nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .burger-menu {
        display: block;
        z-index: 100;
    }



    .site-carts {
        background-position: top calc(0% - 100px) left -100px;
        padding-top: 88px;
        padding-bottom: 116px;
    }
    .site-carts__container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .carts__cart {
        width: 100%;
    }
    .carts__cart:not(:nth-child(3n)) {
        margin-right: 0%;
    }
    .carts__cart:not(:nth-child(2n)) {
        margin-right: 0%;
    }

    .site-features__container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .item:not(:last-child) {
        margin-bottom: 48px;
    }
    .item__icon {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .site-review {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .site-review__container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .site-review__heading {
        max-width: 100%;
    }

    .site-clients {
        padding-top: 88px;
        padding-bottom: 88px;
        background-position: top -100px left -100px;
    }
    .site-clients__container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .site-clients__heading {
        font-size: 32px;
    }
    .site-clients__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .site-clients__item:not(:last-child) {
        margin-right: 0%;
        margin-bottom: 75px;
    }
    .site-clients__img {
        width: 100%;
        height: auto;
    }

    .site-cta__inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .site-cta__button {
        margin-left: 0;
        margin-top: 24px;
    }

    .site-contact {
        background-position: top calc(100% + 100px) left calc(100% + 100px);
    }
    .site-contact__container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .site-contact__heading {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .contact-item {
        flex-direction: row;
        text-align: left;
    }
    .contact-item:not(:last-child) {
        margin-bottom: 24px;
    }
    .contact-item .item__icon{
        margin-right: 23px;
    }


    .site-footer {
        padding-top: 66px;
        padding-bottom: 64px;
    }
    .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .site-footer__left-side {
        align-items: center;
        justify-content: center;
    }
    .site-footer__right-side {
        position: static;
        text-align: center;
    }
    .site-footer__logo-links {
        width: 100%;
        margin-bottom: 24px;
    }
    .site-footer__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
    .site-footer__nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .site-footer__nav-item {
        width: auto;
    }
    .site-footer__nav-item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 24px;
    }
    .adress-list {
        position: static;
        text-align: center;
        order: 0;
        margin-bottom: 40px;
    }
    .social-link-list {
        order: 1;
        margin-bottom: 16px;
    }

}

@media only screen and (max-width: 375px) {
    .site-hero {
        padding-top: 32px;
        padding-bottom: 108px;
    }
    .about-site-hero {
        padding-top: 32px;
        padding-bottom: 108px;
        background-position: top calc(100% + 100px) left calc(100% + 100px);
    }

    .site-hero__heading {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    .site-features {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .site-features__heading {
        max-width: 240px;
    }
    .site-features__heading::before {
        content: "";
        width: 50px;
        height: 4px;
        background-color: var(--light-coral);
        display: block;
        margin-bottom: 32px;
    }
    .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .item:not(:last-child) {
        margin-bottom: 48px;
    }
    .item__icon {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .item__title {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .site-cta__inner {
        font-size: 32px;
    }
    .site-cta__container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .contact-item {
        flex-direction: row;
        text-align: left;
    }
    .contact-item:not(:last-child) {
        margin-bottom: 24px;
    }
}